h1 {
    font-size: 3vw;
    margin-top: .5vw;
    margin-bottom: .5vw;
}

body {
    background-color: goldenrod;
}

.search {
    width: 20vw;
    margin: auto;
    background-color: rgba(231, 230, 230, 0.5);
}

.searchfield {
    color: black;
    font-size: 18px;
    width: 40vw;
}

.iris {
    background-image: url("https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_750,q_75,w_1600/v1/clients/newbraunfelstx/2_98d49d5a-8227-4611-905a-e6981b9e9599.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.genre-button {
    color: orange;
    width: auto;
    margin-top: .5vw;
    margin-left: 4vw !important;

}

#artist-description {
    font-size: 1.2vw;
}

#artist-name {
    font-size: 2.3vw;
    text-align: center;
}

#artist-description {
    font-size: 1.2vw;
}

#search-form {
    margin-left: auto;
    margin-right: auto;
}

#search-box {
    margin: auto;
}

#artist-name {
    font-size: 2.3vw;
    text-align: center;
}

#quick-search {
    color: orange;
    background-color: green;
    border-radius: 5px;
    padding-top: .3vw;
    padding-bottom: .3vw;
    padding-left: .5vw;
    padding-right: .5vw;
    margin: .5vw .3vw .5vw .3vw
}