body {
    background-color: goldenrod;
}

.red .nav-wrapper{
    background-color:gray;

}

a:hover{
    color: springgreen;
}

.search {
    width: 40vw;
    margin: auto;
    background-color: white;
}

.searchfield {
    color: black;
    font-size: 18px;
    width: 40vw;
}

#artist-name {
    font-size: 2.3vw;
    text-align: center;
}
#artist-description {
    font-size: 1.2vw;
}